/* Aggiungi questo al tuo file CSS globale */
html, body {
  height: 100%; /* Assicurati che la pagina occupi l'intera altezza */
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Assicura che il footer vada in fondo */
}

footer {
  margin-top: auto; /* Spinge il footer verso il basso */
}


